<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
  <!-- <script src="https://cdn.robotwebtools.org/roslibjs/current/roslib.min.js"></script> -->
  <script src="/static/node_modules/roslib/build/roslib.min.js"></script>

  <script>
    var ros = new ROSLIB.Ros({
      url: 'ws://localhost:9090' // This is the default address for ROSBridge; adjust if your setup differs.
    });
    
    ros.on('connection', function() {
      console.log('Connected to websocket server.');
    });
    
    ros.on('error', function(error) {
      console.log('Error connecting to websocket server: ', error);
    });
    
    ros.on('close', function() {
      console.log('Connection to websocket server closed.');
    });

</script>


</head>
<body>
<div class="sidebar">
    <!-- Display the image -->
  <img class="sidebar-image" src="/static/nmbu_square.png" alt="NMBU Image" >
  
  <div class="button-group">
    <button id="toggleButton">Toggle State Visual</button>
    <button id="shutdownButton">Shutdown Server</button>
    <button onclick="runScript()" id="toggleStatusButton">Toggle Status Messages</button>
    <button id="toggleTopicButton">Toggle Topic Messages</button>
    <button id="toggleImageButton">Toggle Live Image</button>
  </div>
  <!-- <p>Last Class: <span id="lastClassDisplay"></span></p>
  <p>Last Distance: <span id="lastDistanceDisplay"></span></p>
  <p>Current State: <span id="state"></span></p> -->




</div>

<div class="content">
  <h1>Safety Properties Monitoring Dashboard</h1>
  <p>Follow README:</p>
  <ul>
    <li>Run the launch file:  <code>$ ros2 launch pyflask my_launch_file.launch.py</code></li>
    <li>Messages are published to:  <code>/rosout</code></li>
  </ul>
  <p> View the tutorial at <a href="https://github.com/mustafma/ras_reliability_backend" target="_blank">ras_reliability_backend</a> or <a href="https://gitlab.com/henrik.nordlie/summer_job_2023" target="_blank">summer_job_2023</a>.</p>
  
  <div class="buttont-group">
    <button id="exportmonitor">Export Monitors</button>
    <button id="importmonitor">Import Robot State Machine</button>
  </div>
  

  <hr/>
  
  <div class="sdata-display">
    <h3>SRobot Data Display</h3>
    <p>Current State: <span id="currentState">-</span></p>
    <p>Received Distance Value: <span id="dttValue">-</span></p>
    <p>Classifier Value: <span id="classifierValue">-</span></p>
    <p>Alert Status: <span id="alertStatus">-</span></p>
    <p>Slowdown Status: <span id="slowdownStatus" class="status">-</span></p>
    <p>Halt Status: <span id="haltStatus" class="status">-</span></p>
    <p>UVC Status: <span id="uvcStatus">-</span></p>
    <p>Time Active: <span id="timerValue">-</span></p>
    <p>Violation Message: <span id="errorguard">-</span></p>
  </div>
  
  <div class="buttonw-group">
    <button onclick="runScript()" id="resetmonitor">Reset Monitor</button>
    <button onclick="clearLog()" id="clearlog">Clear Log</button> 
  </div>

    <script>
      function runScript() {
          // Using fetch to send a POST request
          fetch("/run-script", {
              method: "POST", // Specifying the method
              headers: {
                  'Content-Type': 'application/json'
              }
          })
          .then(response => {
              if (!response.ok) { // If the response is not ok, throw an error
                  throw new Error('Network response was not ok');
              }
              return response.json();
          })
          .then(data => {
              // Alert removed. You can handle the successful response here if needed.
              console.log(data.message); // Optionally log the message to the console
          })
          .catch((error) => {
              console.error('There has been a problem with your fetch operation:', error);
              alert("Failed to execute script."); // Alert for failure
          });
      }
    </script>
  
    


  
  <img id="videoElement" src="">
</div>


<script>
  
  function fetchData(endpoint, elementId, blinkClass) {
      fetch(endpoint)
          .then(response => response.json())
          .then(data => {
              document.getElementById(elementId).innerText = data[Object.keys(data)[0]];
              let status = data[Object.keys(data)[0]];
              updateStatus(elementId, status, blinkClass);
          })
          .catch(error => console.error('Error fetching data from ' + endpoint + ':', error));
  }

  function updateStatus(elementId, status, blinkClass) {
    var element = document.getElementById(elementId);
    element.textContent = status;
    if (status === "true" || status === true) {
      element.classList.add("enlarge", blinkClass);
    } else {
      element.classList.remove("enlarge", blinkClass);
    }
  }

  // Refresh data every second
  setInterval(() => fetchData('/dtt', 'dttValue', ''), 1000);
  setInterval(() => fetchData('/classifier', 'classifierValue', ''), 1000);
  setInterval(() => fetchData('/alert', 'alertStatus', ''), 1000);
  setInterval(() => fetchData('/halt', 'haltStatus', 'halt-blink'), 1000);
  setInterval(() => fetchData('/slowdown', 'slowdownStatus', 'slowdown-blink'), 1000);
  setInterval(() => fetchData('/state', 'currentState', ''), 1000);
  setInterval(() => fetchData('/uvc', 'uvcStatus', ''), 1000);
  setInterval(() => fetchData('/timer', 'timerValue', ''), 1000);
</script>

<div class="flex-container">
  <div class="ccontent">
      <script>
        let lastMessages = {}; // Object to track the last message for each endpoint

        function fetchVData(endpoint, elementId) {
            fetch(endpoint)
                .then(response => response.json())
                .then(data => {
                    let currentMessage = data[Object.keys(data)[0]];
                    // Initialize endpoint tracker if not present
                    if (!lastMessages.hasOwnProperty(endpoint)) {
                        lastMessages[endpoint] = "";
                    }
                    // Only process if the message has changed
                    if (currentMessage !== lastMessages[endpoint]) {
                        document.getElementById(elementId).innerText = currentMessage;
                        logMessage(currentMessage);
                        lastMessages[endpoint] = currentMessage; // Update the last message tracker
                    }
                })
                .catch(error => console.error('Error fetching data from ' + endpoint + ':', error));
        }

        function logMessage(message) {
            const logList = document.getElementById('logMessages');
            const newLogItem = document.createElement('li');
            newLogItem.textContent = message;
            logList.insertBefore(newLogItem, logList.firstChild); // Always insert at the beginning
            runScript()
        }

        function logInject(message) {
            const logList = document.getElementById('logMessages');
            const newLogItem = document.createElement('li');
            newLogItem.textContent = message;
            logList.insertBefore(newLogItem, logList.firstChild); // Always insert at the beginning
        }
        function clearLog() {
          //document.getElementById('logMessages').innerHTML = '';
          console.log("Clearing log messages");
          logMessage("Log cleared");
        }
                
        setInterval(() => fetchVData('/handlerdtt_assumption', 'errorguard'), 1000);
        setInterval(() => fetchVData('/handlerclassifier_assumption', 'errorguard'), 1000);
        setInterval(() => fetchVData('/handleroperationalstate_0', 'errorguard'), 1000);
        setInterval(() => fetchVData('/handleroperationalstate_1', 'errorguard'), 1000);
        setInterval(() => fetchVData('/handleroperationalstate_2', 'errorguard'), 1000);
        setInterval(() => fetchVData('/handleroperationalstate_3', 'errorguard'), 1000);
        setInterval(() => fetchVData('/handlerstate_req000', 'errorguard'), 1000);
        setInterval(() => fetchVData('/handlerstate_req101', 'errorguard'), 1000);
        setInterval(() => fetchVData('/handlerstate_req102', 'errorguard'), 1000);
        setInterval(() => fetchVData('/handlerstate_req103', 'errorguard'), 1000);
        setInterval(() => fetchVData('/handlerstate_req201', 'errorguard'), 1000);
        setInterval(() => fetchVData('/handlerstate_req202', 'errorguard'), 1000);
        setInterval(() => fetchVData('/handlerstate_req203', 'errorguard'), 1000);
      
      </script>
  </div>
  <style>
    button {
        font-weight: bold; /* This CSS property makes the text bold */
    }
  </style>
  <div class="log-section">
      <div class="handlers-section">
          <h2>Handler Injectors</h2>
          <div class="violationgrid-container">
              <button onclick="injectHandler('dtt_assumption')">Inject dtt_assumption</button>
              <button onclick="injectHandler('classifier_assumption')">Inject classifier_assumption</button>
              <button onclick="injectHandler('operationalstate_0')">Inject operationalstate_0</button>
              <button onclick="injectHandler('operationalstate_1')">Inject operationalstate_1</button>
              <button onclick="injectHandler('operationalstate_2')">Inject operationalstate_2</button>
              <button onclick="injectHandler('operationalstate_3')">Inject operationalstate_3</button>
              <button onclick="injectHandler('state_req000')">Inject state_req000</button>
              <button onclick="injectHandler('state_req101')">Inject state_req101</button>
              <button onclick="injectHandler('state_req102')">Inject state_req102</button>
              <button onclick="injectHandler('state_req103')">Inject state_req103</button>
              <button onclick="injectHandler('state_req201')">Inject state_req201</button>
              <button onclick="injectHandler('state_req202')">Inject state_req202</button>
              <button onclick="injectHandler('state_req203')">Inject state_req203</button>
          </div>
      </div>
      <h2>Violation Log Messages</h2>
      <ul id="logMessages"></ul>
  </div>

</div>
<script>

  function injectHandler(handlerName) {

    // var injectionTime = Date.now(); // Get the current time in milliseconds

    logInject("Injecting " + handlerName);
    
    var injectiontalker = new ROSLIB.Topic({
    ros: ros,
    name: '/injection_detection',
    messageType: 'std_msgs/String'
    });
    var injectionmsg;
    // class, distance, state, slowdown, halt, alert, uvc
    if (handlerName == "dtt_assumption") {
      var injectionmsg = new ROSLIB.Message({
        data: "1,-1,3,false,true,false,true"
      });
    } 
    else if (handlerName == "classifier_assumption") {
      var injectionmsg = new ROSLIB.Message({
        data: "3,6,0,false,false,false,false"
      });
    }
    else if (handlerName == "operationalstate_0") {
      var injectionmsg = new ROSLIB.Message({
        data: "0,0,0,false,false,false,true" // last (every) element is supposed to FALSE in OpState 0
      });
    }
    else if (handlerName == "operationalstate_1") {
      var injectionmsg = new ROSLIB.Message({
        data: "1,8,1,false,false,true,true" // last element is supposed to False in OpState 1
      });
    }
    else if (handlerName == "operationalstate_2") {
      var injectionmsg = new ROSLIB.Message({
        data: "1,5,2,true,false,true,true" // last element is supposed to FALSE in OpState 2
      });
    }
    else if (handlerName == "operationalstate_3") {
      var injectionmsg = new ROSLIB.Message({
        data: "2,4,3,false,true,false,false"  // last element is supposed to TRUE in OpState 3
      });
    }
    else if (handlerName == "state_req000") {
      var injectionmsg = new ROSLIB.Message({
        data: "0,0,1,false,false,true,false" // third element (OpState) should be 0 
      });
    }
    else if (handlerName == "state_req101") {
      var injectionmsg = new ROSLIB.Message({
        data: "1,8,0,false,false,false,false"
      });
    }
    else if (handlerName == "state_req102") {
      var injectionmsg = new ROSLIB.Message({
        data: "1,4,3,false,true,false,true"  // 
      });
    }
    else if (handlerName == "state_req103") {
      var injectionmsg = new ROSLIB.Message({
        data: "1,2,0,false,false,false,false"
      });
    }
    else if (handlerName == "state_req201") {
      var injectionmsg = new ROSLIB.Message({
        data: "2,10,3,false,true,false,true"
      });
    }
    else if (handlerName == "state_req202") {
      var injectionmsg = new ROSLIB.Message({
        data: "2,5,2,true,false,true,false"   // 
      });
    }
    else if (handlerName == "state_req203") {
      var injectionmsg = new ROSLIB.Message({
        data: "2,2,0,false,false,false,false"
      });
    }
    else {
      var injectionmsg = new ROSLIB.Message({
        data: "error injecting handler"
      });
    }

    injectiontalker.publish(injectionmsg);
  }
</script>


<script>
  setInterval(function() {
    document.getElementById('videoElement').src = "/stream?" + new Date().getTime();
  }, 50);
</script>
</body>
</html>
