body {
  display: flex;
  background-color: #dde0e6; /* Light pink */
}

.sidebar {
  text-align: center;
  flex: 0 0 200px; /* Width of sidebar */
  height: 100vh; /* Full height */
  border-right: 2px solid #d0c4c4;
  padding: 20px;
  box-sizing: border-box;
  display: flex; /* New */
  flex-direction: column; /* New */
  
}

.sidebar img.sidebar-image {
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 20%;
}
th, td {
    border: 1px solid black;
    padding: 1px;
    text-align: center;
}
.moving {background-color: #31dacc82;}
.idle {background-color: #31dacc82;}
.stopped {background-color: #31dacc82;}
.error {background-color: #31dacc82;}

.empty {background-color: #54b6e4b7;}
.none {background-color: #54b6e4b7;}
.adult {background-color: #54b6e4b7;}
.worker {background-color: #54b6e4b7;}
.red {background-color: #54b6e4b7;}
.yellow {background-color: #54b6e4b7;}
.green {background-color: #54b6e4b7;}

.active {background-color: #6355e4;} /* Active color */


.content {
  flex: 1; /* Take up the rest of the space */
  padding: 20px;
  box-sizing: border-box;
}
.button-group {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  justify-content: space-around;
  margin-bottom: 20px;
  border: 5px solid #d0c4c4;
  padding: 10px;
  background-color: #f4e3e3;
}
.buttont-group {
  display: flex;
  flex-direction: row; /* Stack buttons vertically */
  justify-content: space-around;
  margin-bottom: 20px;
  border: 5px solid #d0c4c4;
  padding: 10px;
  background-color: #f4e3e3;
  width: 650px;
}
.buttonw-group {
  display: flex;
  flex-direction: row; /* Stack buttons vertically */
  justify-content: space-around;
  margin-bottom: 20px;
  border: 5px solid #d0c4c4;
  padding: 10px;
  background-color: #f4e3e3;
  width: 650px;
}

.sidebar .button-group button {
  margin-bottom: 20px; /* Increase vertical spacing between sidebar buttons */
}
.sidebar-image {
  padding-left: 25px; /* Increase vertical spacing between sidebar buttons */
}
.content .button-group {
  flex-direction: row; /* Distribute buttons horizontally in content area */
}
.content .buttonw-group {
  flex-direction: row; /* Distribute buttons horizontally in content area */
}
.sidebar-image {
  width: 200px;   /* Width of the image */
  height: auto;   /* Maintain aspect ratio */
}

time {
  list-style-type: none;
  font-size: 20px;
}

time li {
  padding-left: 60px;  
}

time li::after {
  content: " s ";
}

#status-chart {
  background-color: white;
  margin-bottom: 20px;
}

button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 10px; /* Increase spacing between buttons */
}

#status-circle {
  width: 100px;
  height: 100px;
  margin-left: 75px ;  
  transition: background-color 1s ease-in-out;
  display: block;
  color: blue;
  background-color: blue;
  border-radius: 50%; 
}

.bar {
  fill: steelblue;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    margin-left: -600px;
}

.ccontent, .log-section {
    flex: 1;
    padding: 20px;
}

.log-section {
    border-left: 10px solid #ccc; /* Visual separation */
    border-right: 10px solid #ccc; /* Visual separation */
    height: 100vh; /* Full height */
    overflow-y: auto; /* Scrollable */
    width: 1400px;
}

.log-section ul {
    list-style-type: none;
    padding: 0;
}

.log-section ul li {
    margin-bottom: 10px;
    margin-right: 10px;
}

.sdata-display {
  background-color: rgb(54, 51, 51);
  color: white;
  padding: 20px;
  font-weight: bold;
  border-radius: 5px; /* Optional: adds rounded corners */
}

.sdata-display h3, .data-display p {
  margin: 10px 0; /* Adjust spacing between elements as needed */
}

/* Optional: Make the header stand out less/more */
.sdata-display h3 {
  font-weight: normal; /* Less emphasis on the header */
}


.handlers-section {
  margin: 20px 0;
}

.violationgrid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates a 3-column grid */
  grid-gap: 10px; /* Adjusts the space between grid items */
}

.violationgrid-container button {
  padding: 10px;
  background-color: #464747;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for the color change */
}
.violationgrid-container button:hover {
  background-color: #0056b3;
}

.button-group button:hover {
  background-color: #ff7f7f;
}

.buttonw-group button:hover {
  background-color: #ff7f7f;
}

/* Blinking animation */
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

/* Enlarge font */
.enlarge {
  font-size: 1.2em; /* Increase font size */
}

/* Slowdown Status blinking */
.slowdown-blink {
  animation: blink 1s infinite;
  background-color: yellow;
}

/* halt Status blinking */
.halt-blink {
  animation: blink 1s infinite;
  background-color: red;
}

